<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
<!--        <activity android:exported="true" android:name=".MoreAppsActivity"-->
<!--            android:theme="@style/AppTheme.NoActionBar"/>-->

<!--        <service-->
<!--            android:name=".account.AuthenticatorService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accounts.AccountAuthenticator" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.accounts.AccountAuthenticator"-->
<!--                android:resource="@xml/authenticator" />-->
<!--        </service>-->
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
</manifest>
