{"name":"Позитив","slug":"appberypositiverf","version":"1.0.3","orientation":"portrait","icon":"./assets/icon.png","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"updates":{"fallbackToCacheTimeout":0},"assetBundlePatterns":["**/*"],"ios":{"bundleIdentifier":"com.appbery.appberypositiverf","googleServicesFile":"./GoogleService-Info.plist","buildNumber":"5","supportsTablet":true},"android":{"package":"com.appbery.appberypositiverf","googleServicesFile":"./google-services.json","versionCode":100015,"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"}},"web":{"favicon":"./assets/favicon.png"},"description":"","plugins":["@react-native-firebase/app",["expo-build-properties",{"ios":{"useFrameworks":"static"}}]],"extra":{"eas":{"projectId":"a5872b27-3919-4aba-869f-6f821fa55aef"}},"sdkVersion":"51.0.0","platforms":["ios","android","web"]}